VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=echoforge-1ee43.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=echoforge-1ee43
VITE_FIREBASE_STORAGE_BUCKET=echoforge-1ee43.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=338077760916
VITE_FIREBASE_APP_ID=1:338077760916:web:13fb7af57d41c7fa206381
VITE_FIREBASE_MEASUREMENT_ID=G-PGBD2LRKN7
